.editor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $bg-alt;
}

.editor__image-wrapper {
  width: 280px;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.editor__image {
  width: 280px;
  height: 384px;
}

.editor__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 280px;
  align-self: center;
  box-sizing: border-box;
}

.editor__item {
  display: flex;
  align-items: center;

  // flex-wrap: wrap;
}

.editor__controll {
  width: 48px;
  background-color: transparent;
  border: none;
}

.editor__icon {
  fill: $main-color;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  &:active {
    fill: $accent-color;
  }
}

.editor__icon--active {
  opacity: 1;
  fill: $accent-color;

  &:hover {
    fill: $main-color;
  }
}


.editor__range-controls {
  position: relative;
  //margin-bottom: 32px;
}

.editor__range-controls .editor__range-scale {
  height: 2px;
  background-color: $main-color;
}

.editor__range-controls .editor__range-bar {
  width: 180px;
  height: 2px;
  background-color: $main-color;
}

.editor__range-toggle {
  position: absolute;
  top: -7px;
  width: 12px;
  height: 12px;
  background-color: $bg-alt;
  border: 2px solid $accent-color;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background: $accent-color;
  }
}
.editor__range-toggle {
  left: 80%;
}

// .editor__range-controls {
//   display: none;
// }

// .editor__range-controls--last {
//   position: absolute;
//   display: inline-block;
//   // margin-top: 80px;
// top: 90px;
// }




.editor__item--buttons {
  margin-top: 100px;
}

@media (min-width: $tablet-width) {

  .editor {
    flex-direction: row;
    padding: 50px;
  }

  .editor__image-wrapper {
    width: 280px;
    align-self: flex-start;
  }

  .editor__image {
    width: 280px;
    height: 384px;
  }

  .editor__wrapper {
    position: static;
    justify-content: space-between;
    align-self: flex-start;
    padding: 0 20px;
    // width: 320px;
  }



  // .editor__controll {
  //   flex-basis: 20%;
  //   margin-bottom: 50px;
  // }

  // .editor__range-controls {
  //   display: inline-block;
  //   flex-basis: 70%;
  //   margin-bottom: 50px;
  // }

  // .editor__range-controls--last {
  //   position: relative;
  //   display: inline-block;
  //   // margin-top: 80px;
  // top: 0;
  // }

  // .editor__item--buttons {
  //   flex-grow: 1;
  // }


  // .editor__image {
  //   width: 300px;
  //   height: 400px;
  // }

  // .editor__wrapp {
  //   margin-left: 70px;
  // }
}
