.editor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $bg-alt;
}

.editor__image-wrapper {
  width: 284px;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 32px;
}

.editor__image {
  width: 280px;
  height: 375px;
}

.editor__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 280px;
  align-self: center;
  box-sizing: border-box;
}

.editor__item {
  display: flex;
  align-items: center;
  margin-left: 28px;

  &--fill {
    margin-left: 32px;
  }

  &--contrast {
    margin-left: 38px;
  }
}

.editor__control {
  width: 48px;
  background-color: transparent;
  border: none;
}

.editor__icon {
  fill: $main-color;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  &:active {
    fill: $accent-color;
  }
}

.editor__icon--active {
  opacity: 1;
  fill: $accent-color;

  &:hover {
    fill: $main-color;
  }
}

.editor__range-controls .editor__range-scale {
  height: 2px;
  background-color: $main-color;
}

.editor__range-controls .editor__range-bar {
  width: 180px;
  height: 2px;
  background-color: $main-color;
}

.editor__range-toggle {
  position: absolute;
  top: -6px;
  left: 80.5%;
  width: 10px;
  height: 10px;
  background-color: $bg-alt;
  border: 2px solid $accent-color;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background: $accent-color;
  }
}

.editor__range-controls {
  position: relative;
  display: none;

  &--is-active {
    position: absolute;
    display: block;
    top: 86px;
    left: 18px;
    width: 240px;
  }
}

.editor__item--buttons {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin-top: 108px;
  margin-left: -2px;
  margin-bottom: 27px;
}

.editor__button {
  width: 100%;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: $accent-color;
  margin-bottom: 12px;
  padding: 15px 15px 16px;
  border: 3px solid $accent-color;
  border-radius: 30px;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $text-light;
    background-color: $accent-color;
  }

  &:active {
    color: #e07e94;
  }

  &--disabled {
    color: #e3e3e4;
    border-color: #e3e3e4;
  }
}

@media (min-width: $tablet-width) {
  .editor {
    flex-direction: row;
    width: 660px;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .editor__image-wrapper {
    width: 300px;
    align-self: flex-start;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .editor__image {
    width: 300px;
    height: 400px;
  }

  .editor__wrapper {
    position: static;
    justify-content: space-between;
    align-self: flex-start;
    box-sizing: border-box;
    margin: 20px 20px 10px 46px;
  }

  .editor__item {
    margin-bottom: 45px;
  }

  .editor__control {
    width: 24px;
    margin-right: 30px;
    margin-left: 0;
    padding: 0;
  }

  .editor__icon {
    width: 24px;
    height: 24px;
    fill: $accent-color;
    opacity: 1;

    &--contrast {
      width: 16px;
      height: 16px;
    }

    &:hover,
    &:focus {
      fill: $main-color;
    }
  }

  .editor__range-controls {
    display: inline-flex;

    &--is-active {
      position: relative;
      display: inline-flex;
      top: 0;
      width: auto;
    }
  }

  .editor__range-controls .editor__range-bar {
    width: 202px;
    height: 2px;
  }

  .editor__button {
    margin-bottom: 25px;
  }

  .editor__item--buttons {
    margin-top: 50px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .editor {
    flex-direction: row;
    width: 940px;
    padding: 52px 80px 0;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .editor__wrapper {
    margin: 6px 20px 10px 87px;
  }

  .editor__item {
    margin-bottom: 25px;
  }

  .editor__control {
    width: 48px;
    margin-right: 45px;
  }

  .editor__icon {
    width: 48px;
    height: 48px;

    &--contrast {
      width: 32px;
      height: 32px;
    }
  }

  .editor__range-controls .editor__range-bar {
    width: 288px;
  }

  .editor__item--buttons {
    flex-direction: row;
    margin-top: 138px;
  }

  .editor__button {
    padding: 15px 40px;
    flex-grow: 1;
    width: auto;

    &--disabled {
      margin-left: 45px;
      padding: 15px 53px;
    }
  }
}
