.effect {
  display: none;
}


@media (min-width: $tablet-width) {
  .effect {
    display: flex;
    background-color: $bg-alt;
  }

  .effect-wrap {
    display: flex;
  }

  .effect__image-wrapper {
    width: 240px;
    margin-right: 70px;
  }

  .effect__infp-wrapper {
    max-width: 310px;
  }

  .effect__title {
    font-size: 30px;
    line-height: 36px;
  }

  .effect__text {
    font-size: 14px;
    line-height: 24px;
    color: $main-color;
  }

  .effect__link {
    font-size: 14px;
    line-height: 24px;
    color: $accent-color;
    text-decoration: none;
    border-bottom: 1px solid $accent-color;
  }
}

@media (min-width: $desktop-width) {
  .effect__image-wrapper {
    width: 300px;
    margin-right: 70px;
  }

  .effect__infp-wrapper {
    max-width: 520px;
  }

  .effect__title {
    line-height: 30px;
  }

  .effect__text {
    font-size: 18px;
    line-height: 30px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
    color: $accent-color;
  }
}
