.inner-page-title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 50px;

  background-color: $main-color;
  background-image: url(/img/bg-back-mobile@1x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-page-title__header-title {
  color: $text-light;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  padding: 0px 50px;
}
