.page-footer {
  margin: 20px 0 0;
}

.page-footer__logo-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 60px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin: 62px 0 42px;
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 620px;
    margin: 0 auto;
  }

  .page-footer__logo-wrapper {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 940px;
  }
}
