.page-header {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: $text-dark;
  background-color: $main-color;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

.page-header__logo-image {
  width: 80px;
}

.main-nav {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header__logo-image {
    width: 80px;
  }

  .main-nav {
    width: auto;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    margin: 0 auto;
    height: 50px;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__item {
    padding: 20px;
  }

  .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  @include list-normilize;
}

.main-nav__link {
  font-size: 18px;
  line-height: 32px;
  color: $text-light;
  text-decoration: none;
}

.main-nav__item--active {
  color: $accent-color;
}

.main-nav__toggle {
  width: 150px;
  margin: 0 auto;
}
