.pricing-plans {
  background-color: $bg-alt;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

.pricing-plans__slider {
  overflow-x: scroll;
}

.pricing-plans__wrapper {
  width: 280px;
  margin: 0 auto;
}

.pricing-plans__feature-field {
  padding-right: 70px;
  white-space: nowrap;
}

.pricing-plans__pricing-list th:first-child {
  display: none;
}

.pricing-plans__feature-name:first-child {
  display: none;
}

.pricing-plans__feature-name {
  position: relative;
}

.pricing-plans__feature-marker--no::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-no.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }


.pricing-plans__feature-marker--yes::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-image: url("../img/icon-yes.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }


@media (min-width: $tablet-width) {
  .pricing-plans__wrapper {
    width: 640px;
  }
  .pricing-plans__slider {
    overflow-x: visible;
  }

  .pricing-plans__pricing-list th:first-child {
    display: block;
  }

  .pricing-plans__feature-name:first-child {
    display: block;
    background-color: green;
  }

  .pricing-plans__feature-field {
    display: none;
  }

  .pricing-plans__feature-marker--no,
  .pricing-plans__feature-marker--yes {
  }

  .pricing-plans__feature-marker--no::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-no.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }


.pricing-plans__feature-marker--yes::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background-image: url("../img/icon-yes.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

}

@media (min-width: $desktop-width) {
  .pricing-plans__wrapper {
    width: 940px;
  }


}
