.price {
  padding: 80px 0 50px;
  background-color: $bg-alt;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

.price__slider {
  overflow-x: scroll;
}

.price__table {
  border-collapse: collapse;
  width: 840px;
}

.price__table td {
  background-color: $bg-color;
  border: 2px solid $border-color;
  border-collapse: collapse;
}

.price__empty-cell {
  border: none;
  display: none;
}

.price__table th:first-child {
  border: none;
}

.price__table th {
  width: 280px;
  border: 2px solid $border-color;
  background-color: $main-color;
  color: $text-light;
  box-sizing: border-box;
}

.price__tag {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    background-image: url("../img/bg-hit.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left top;
  }
}

.price__tag-label {
  position: absolute;
  top: 7px;
  left: 7px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  transform: rotate(-45deg);
}

.price__title {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 5px;
}

.price__value {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.price__wrapper {
  width: 320px;
  margin: 0 auto;
}

.price__feature-cell {
  padding: 15px 20px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.price__feature-name::before {
  content: attr(data-name) " ";
}

.price__feature-field {
  padding-right: 20px;
  white-space: nowrap;
}

.price__pricing-list th:first-child {
  display: none;
}

.price__feature-cell:first-child {
  display: none;
}

.price__marker-no {
  margin: 0;
  padding: 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 31px;
    height: 31px;
    background-image: url("../img/icon-no.svg");
    background-size: 27px 26px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.price__marker-yes {
  margin: 0;
  padding: 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 31px;
    height: 31px;
    background-image: url("../img/icon-yes.svg");
    background-size: 31px 21px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .slider__toggles {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .price {
    padding: 120px 0 80px;
  }

  .price__wrapper {
    width: 620px;
    margin: 0 auto;
  }

  .price__table {
    width: auto;
  }

  .price__table th {
    width: 158px;
  }

  .price__tag {
    background-image: url("../img/bg-hit-tablet.svg");
  }

  .price__tag-label {
    position: absolute;
    top: 7px;
    left: 7px;
  }

  .price__title {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 0;
  }

  .price__value {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .price__feature-cell {
    padding: 10px 15px;
    font-size: 14px;
    line-height: 30px;
    text-transform: none;
  }

  .price__slider {
    overflow-x: visible;
  }

  .price__empty-cell {
    display: table-cell;
    border: none;
    visibility: hidden;
  }

  .price__feature-name::before {
    content: none;
  }

  .price__pricing-list th:first-child {
    display: table-cell;
  }

  .price__feature-cell:first-child {
    display: table-cell;
  }

  .price__feature-field {
    display: none;
  }

  .price__marker-no::before {
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .price__marker-yes::before {
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .price .slider__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding: 150px 0 100px;
  }

  .price__wrapper {
    width: 940px;
  }

  .price__feature-cell {
    padding: 15px 20px;
    font-size: 18px;
    line-height: 30px;
    text-transform: none;
  }

  .price__title {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .price__value {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .price__table th {
    width: 237px;
  }
}
