.reviews__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.reviews__reviews-text {
  order: 20;
  margin: 0;
  padding: 0;
  align-self: center;
  max-width: 705px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-color;
  margin-bottom: 6px;
}

.reviews__author-name {
  order: 10;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: $text-black;
  text-align: center;
  margin-bottom: 15px;
}

.reviews__author-about {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    width: 620px;
    margin: 0 auto;
    padding-bottom: 0;
  }

  .reviews__reviews-text {
    order: 10;
    align-self: center;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  .reviews__author-name {
    order: 20;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-bottom: 3px;
  }

  .reviews__author-about {
    display: inline-flex;
    order: 30;
    font-size: 14px;
    line-height: 30px;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .reviews .slider__toggles {
    margin-top: 20px;
    margin-bottom: 21px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding-top: 190px;

    &::before {
      content: "";
      position: absolute;
      top: 75px;
      left: 50%;
      transform: translateX(-50%);
      width: 80px;
      height: 63px;
      background-image: url("../img/icon-quotes.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  .reviews__reviews-text {
    max-width: 705px;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-about {
    font-size: 18px;
  }

  .reviews__arrows {
    display: block;
  }

  .reviews__arrow-left {
    position: absolute;
    top: 50%;
    left: 0;

    width: 22px;
    height: 41px;
    border: none;
    background-color: transparent;
    background-image: url("../img/icon-review-arrow-left.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.3;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  .reviews__arrow-right {
    position: absolute;
    top: 50%;
    right: 0;
    width: 22px;
    height: 41px;
    border: none;
    background-color: transparent;
    background-image: url("../img/icon-review-arrow-right.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.3;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  .reviews__toggles {
    display: none;
  }
}
