.title__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: left 107px;
  background-repeat: no-repeat;
  background-size: 259px;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
  }
}

.title__slogan {
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 0 45px;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: $text-light;
  text-align: center;
}

.title__heading {
  color: $text-light;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  padding: 15px 35px 56px;

  &--photo {
    padding-bottom: 84px;
  }
}

@media (min-width: $tablet-width) {
  .title__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 620px;
    margin: 0 auto;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: -40px bottom;
    background-repeat: no-repeat;
    background-size: 700px;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
  }

  .title__slogan {
    width: 300px;
    padding: 0 54px;
    margin-top: 90px;
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    color: $text-light;
    text-align: center;
    box-sizing: border-box;
  }

  .title__heading {
    font-size: 50px;
    line-height: 60px;
    padding: 32px 50px 80px;

    &--photo {
      padding-bottom: 140px;
    }
  }
}

@media (min-width: $desktop-width) {
  .title__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 960px;
    margin: 0 auto;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 26px bottom;
    background-repeat: no-repeat;
    background-size: 1050px 644px;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }

  .title__slogan {
    width: 300px;
    padding: 0;
    margin-top: 107px;
    margin-bottom: 46px;
    margin-left: 10px;
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
    color: $text-light;
    text-align: center;
  }

  .title__heading {
    font-size: 50px;
    line-height: 60px;
    padding: 28px 0 101px;
    text-align: center;
  }
}
