.user-photos__intro-text {
  font-size: 14px;
  line-height: 30px;
  color: $main-color;
  text-align: center;
  margin-bottom: 50px;
  padding: 0 35px;
}

.user-photos__promo-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 0;
}

.user-photos__promo-image {
  width: 100%;
}

.user-photos__promo-tag {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: $text-light;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: $accent-color;
}

.user-photos__posts-wrapper {
  display: flex;
  flex-direction: column;
}

.user-photos__user-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.user-photos__image-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.user-photos__post-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  background-color: $bg-alt;
  padding: 20px 15px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 280px;
  box-sizing: border-box;
}

.user-photos__post-info--prommo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $bg-alt;
  padding: 20px 15px;
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.user-photos__author-block {
  order: 10;
  width: 280px;
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}

.user-photos__posted-time {
  font-weight: 300;
}

.user-photos__photo-description {
  order: 20;
  margin-top: 0;
  margin-bottom: 10px;
}

.user-photos__like-block {
  order: 30;
  margin: 0;
  margin-top: auto;
}

.user-photos__like-icon {
  width: 13px;
  height: 12px;
  fill: $accent-color;
}

.user-photos__like-block {
  padding-left: 30px;
  color: $accent-color;
  background-image: url("/img/icon-heart.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 13px 12px;
}

@media (min-width: $tablet-width) {
  .user-photos__day-panorama-wrapper {
    width: 660px;
    margin: 0 auto;
  }

  .user-photos__promo-tag {
    top: 50px;
    right: 15%;
  }

  .user-photos__posts-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .user-photos__user-post {
    width: 300px;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 20px;
  }

  .user-photos__author-block {
    order: 10;
    flex-basis: 70%;
    width: 280px;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
  }

  .user-photos__post-info--prommo {
    width: 660px;
    margin-bottom: 20px;
  }

  .user-photos__post-info {
    width: 300px;
    padding: 20px 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  .user-photos__like-block--prommo {
    order: 15;
    flex-basis: 25%;
    margin: 0;
    margin-top: 0;
    margin-left: auto;
    text-align: right;

  }
}

@media (min-width: $desktop-width) {
  .user-photos__day-panorama-wrapper {
    width: 100%;
    margin-bottom: 0;
  }

  .user-photos__promo-tag {
    top: 50px;
    right: 15%;
  }

  .user-photos__day-panorama-image {
    width: 100%;
  }

  .user-photos__post-info--prommo {
    width: 960px;
    margin-bottom: 20px;
  }
}
